.destination-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
  padding-top: 40px;
}

.tour-cards-container::-webkit-scrollbar {
  width: 0;
}

.tour-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  flex-shrink: 0;
  position: relative;
}

.desh2 {
  padding-top: 0px;
  font-weight: bold;
}

.card{
  background-color:rgb(80, 20, 140);
}

.button{
  padding: 10px;
}

